<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="{static 'css/demo.css'}">
</head>
<body>
<div class="container" align="center">
    <div class="jumbotron">
        <h1>Log in</h1>
        <form method="post">
            {{form.as_p}}
            {%csrf_token%}
            <input type="submit" class="btn btn-lg btn-primary">
        </form>

    </div>
</div>
</body>
</html>